.create-room-container {
    background-color: var(--primary-color);
    margin: 5vh auto 0 auto;
    width: 60%;
    height: 70vh;
    color: #eeeeee;
}

.create-room-container h1 {
    padding: 20px;
    text-align: center;
    font-weight: bold;
    color: var(--background-color);
    font-size: 50px;
}

.create-room-container .form-group {
    margin: 0 auto;
    width: 60%;
}

.create-room-button {
    margin-top: 10px;
    margin-left: 50%;
    transform: translate(-50%, 0);
}